@charset "UTF-8";

html {
    height: 100%;
}

/* ログイン画面 */
body {
    height: 100%;
    background: linear-gradient(to bottom, #186AC9, #4ba6fa, #ebdc45);
    color: #fff;
}

header {
    text-align: center;
    position: relative;
}

header img {
    position: relative;
    width: 150px;
    padding-top: 150px;
    left: 80px;
    transform: translate(-50%, -50%);
}

header p {
    position: absolute;
    top: 50%;
    left: 50%;
    top: 130px;
    transform: translate(-50%, -50%);
    font-size: 30px;

}

.login-container {
    margin-bottom: 50px;
    text-align: center;
    position: fixed;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background {
    background-color: rgb(0 0 0 / 20%);
    border-radius: 10px;
    width: 300px;
}

.login-items {
    padding: 30px 5px;
    margin-bottom: 100px;
}

.form-text {
    padding-top: 10px;
}

.form-label {
    text-align: left;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 0;
    font-size: 14px;
}

.login-text {
    font-size: 17px;
    font-weight: 100;
}

.login-container a {
    color: #fff;
}

.input {
    border: solid #f5f5f5 1px;
    border-radius: 5px;
    height: 35px;
    width: 85%;
    padding-left: 10px;
}

#password,
#password_confirmation {
    border: solid #f5f5f5 1px;
    border-radius: 5px;
    height: 35px;
    width: 85%;
    padding-left: 10px;
}

.btn-nextregister {
    background-color: #ec384e;
    border-radius: 5px;
    display: inline-block;
    margin: 20px 160px;
    padding: 5px 25px;
    color: #fff;
    font-size: 18px;
    border: none;
}

.btn-nexttop {
    background-color: #ec384e;
    border-radius: 5px;
    display: inline-block;
    margin: 20px 160px;
    padding: 5px 10px;
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    border: none;
}

.register-text {
    font-size: 15px;
}

.push-button {
    right: 50px;
}

#clear {
    margin: 0;
}

.added-background {
    background-color: rgb(0 0 0 / 20%);
    border-radius: 10px;
    text-align: center;
    width: 300px;
    padding: 20px 0;
    margin: 100px auto auto 570px;
    line-height: 30px;
}

.bold {
    font-weight: bold;
}

.btn-redirect {
    background-color: #ec384e;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 25px;
    color: #fff;
    font-size: 15px;
    border: none;
    margin-top: 20px;
}

.btn-redirect a {
    color: #fff;
    writing-mode: horizontal-tb;
}
